.header-container{
	display: grid;
	height:15%;
    margin: 0%;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-areas:
    "foto titulo login";
}

.header-container button {
    color: red;
}

.foto {
	display: grid;
    grid-area: foto;
    margin:0%;
}

.titulo {
	display: grid;
    grid-area: titulo;
    margin: 0%;
}

.login {
	display: grid;
    grid-area: login;
}

.login img, .login img, .login button{
    height: 90%;
    width: 90%;
}

.login button a{
	text-decoration: none;
}

.container-wrap{
	align-content: center;
	text-align: center;
}

table {
	width: 90%;
	border-radius: 15px;
	text-align: center;
}

th {
	text-decoration: underline;
	border-width: thin;
	border-style: solid;
}

tr {
	border-width: thin;
	border-style: solid;
}

td{
	padding: 4px;
	background-color: red;
	border-width: thin;
	border-style: solid;
}
